*
{
    margin: 0px;
}

body
{
    background-color: #95a5a6;
    font-family: sans-serif;
}

.nav-main-home
{
    background-color:#2ecc71;
    display: flex;
    align-items: center;
    justify-content: right;
    justify-content: space-between;
}

h1
{
    margin: 10px;
}
nav
{
    display: flex;
}

.art
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-img
{
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.connection
{
    background-color: #95a5a6;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 5px;
    text-align: center;
}

.connection h4
{
    margin-left: 5px;
    margin-top: 2px;
}





footer
{
    background: #34495e;
    text-align: center;
}




