*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #fff;
    font-family: sans-serif;
}


.nav-main-home
{
    background-color: #00ABE4;
    display: flex;
    align-items: center;
    justify-content: right;
    justify-content: space-between;
}

header
{
    margin-top: 0px;
    background-color: #00536e;
}

h1
{
    margin: 10px;
}

nav
{
    display: flex;
}

.connection
{

    width: 100%;
    height: 100%;
    display: flex;
    margin: 5px;
    text-align: center;
}

.connection h4
{
    margin-left: 5px;
    margin-top: 2px;
}

.titre-site
{
    display: flex;
    text-align: center;
}

h2
{
    
    margin-top: 10px;
    margin-left: 5px;
}


footer
{
    background: #00ABE4;
    text-align: center;
    margin-top: 100px;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    transition: 100ms;
    color: white;
}

.ligne1
{
    display: flex;
}

form
{
    margin: 5px;
}